{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur adopte une Thèse{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur adopte une Thèse </h1>

    <div>
    <p> Le premier site de rencontre étudiants garanti
    gratuit et sans engagement !</p>

    <a href="/thesis">Liste des thèses tendances</a>
    </div>

</div>
{% endblock %}
