// body{
//     //   background-color: greenyellow;
//   }

body{
    background-color:white;
}

h1{
    text-align: center;
}
.these {
    // padding: 8px 2px 2px 8px;
    // padding: 9px 2px 2px 9px;
    // padding: 5px 2px 2px 5px;
    // padding: 1px 1px 1px 1px;
    margin-bottom: 2%;
    // margin-left: 5%;
    font-size: small;  
    background-color: greenyellow;
}

