// ajouter les régles scss qui concernent les couleur globales du site
// en règle générale, un site possède 2 à 3 couleurs, 1 principale et 1,2 secondaires



.color-main{
  // background-color: ...
  background-color:  #f9d9e6

}

.color-second{

  color: #9a023e
}

.color-second2{

  color: #5d0c2c

}

// couleur des liens


// couleur des boutons

// ...